<%include ../layout/header%>
<body>
    <form action="/speakers/add" method="post" enctype="multipart/form-data">
        id:<input type="text" name="_id"></br>
        name:<input typr="text" name="name"></br>
        title:<input type="text" name="title"></br>
        
        <input type="file" name="speakerimage">
        <input type="submit" name="save">


    </form>
</body>

<%include ../layout/footer%>