<div class="container body-content" style="margin-top:35% ">
        <hr />
        <footer>
            <strong>Copyright &copy; 2018 <a href="#">node.js</a>.</strong> All rights reserved.
            <script src="/js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
            <script src="/js/moment.min.js"></script>
            <script src="/js/modernizr.js"></script>
            <script src="/js/fastclick.min.js"></script>
            <script src="/js/jquery.slimscroll.min.js"></script>
            <script src="/js/jquery.dataTables.min.js"></script>
            <script src="/js/dataTables.bootstrap.min.js"></script>
            <script src="/js/select2.full.min.js"></script>
            <script src="/js/js.js"></script>
        </footer>
    </div>