<link href="/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/style.css" rel="stylesheet" id="style">
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" id="dataTables">
<link href="/css/select2.min.css" rel="stylesheet" id="select2">

<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

<title> HM - Events</title>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="margin-top: 10px">
            <a href="/users/list" id="hmBrand"><span> Home </span></a> 
          </div>    
        </div>
        <div class="navbar-collapse collapse" style="margin-left: 100px">
            <ul class="nav navbar-nav">
                <li>
                    <a  href="/speakers/list">speakers <span>(current)</span></a>
                  </li>
                  <li>
                    <a  href="/speakers/add">Add speaker <span></span></a>
                  </li>
                  <li>
                    <a  href="/events/list">Events <span></span></a>
                  </li>
                  <li>
                    <a href="/events/add">Add Event <span></span></a>
                  </li>
                  <li>
                      <a href="/logout">logout</a>
                  </li>
                  <li>
                      <a href="/register">register</a>
                  </li>
            </ul>
        </div>
    </div>
</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light " style="color:green;background-color:lightgray;">
	  

        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >

      
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
          <a class="nav-link disabled" href="/logout">logout</a>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">welcome </button>
          </form>
        </div>
      </nav>
